.field-info {
    display: flex;
    justify-content: space-between;
    font-size: var(--typography-h3-font-size);
    padding: var(--gap-4);

    &__name {
        color: var(--colors-black);
    }

    &__value {
        color: var(--colors-grey-3);
    }

}
