.profile-page {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: var(--gap-8);
    box-sizing: border-box;
}

.profile-page__nav {
    display: flex;
    justify-content: space-between;
    padding: var(--gap-8) 0;
}

.profile-page__main {
    display: flex;
    flex-direction: column;
    padding: var(--gap-64) var(--gap-16);
}
.profile-page__main > * {
    margin: var(--gap-64) 0;
}
.profile-page__main > *:first-child {
    margin-top: 0;
}
.profile-page__main > *:last-child {
    margin-bottom: 0;
}

.profile-page__avatar {
    display: flex;
    justify-content: center;
}

.profile-page__fields {
    display: flex;
    flex-direction: column;
}

.profile-page__actions {
    display: flex;
    flex-direction: column;
}
