.badge {
    height: 20px;
    width: 20px;
    color: var(--colors-white);
    font-size: var(--typography-description-font-size);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge_primary {
    background-color: var(--colors-blue);
}

.badge_secondary {
    background-color: var(--colors-blue-2);
}

.badge_error {
    background-color: var(--colors-red);
}
