.button {
  align-items: center;
  border: 0;
  border-radius: var(--gap-4);
  color: var(--colors-white);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--common-font-family);
  font-size: var(--typography-h3-font-size);
  justify-content: center;
  margin: 0;
  order: 0;
  outline: 0;
  padding: var(--gap-8);
  position: relative;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;


  &_primary {
    background-color: var(--colors-blue);
  }

  &_secondary {
    background-color: var(--colors-blue-2);
  }

  &_transparent {
    background-color: transparent;
    color: var(--colors-blue);
  }

  &_left-align {
    justify-content: flex-start;
  }

  &_full-width {
    flex: 1;
  }

}
