.sign-in-page {
    display: flex;
    align-items: center;
    justify-content: center;

    &__form {
        min-width: 320px;
        border-radius: var(--gap-4);
        padding: var(--gap-16);
        background-color: var(--colors-white);
        box-shadow: var(--card-box-shadow);

        & > * {
            margin: var(--gap-24) 0;
        }
        & > *:first-child {
            margin-top: 0;
        }
        & > *:last-child {
            margin-bottom: 0;
        }
    }
}

