.backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: var(--backdrop-z-index);
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: var(--colors-backdrop);
    visibility: hidden;
    opacity: 0;
}

.backdrop_active {
    opacity: 1;
    transition: opacity .5s;
    visibility: visible;
}
