.dialog {
    padding: var(--gap-16);
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    box-shadow: var(--card-box-shadow);
    background-color: var(--colors-white);
    border-radius: var(--gap-4);
}
.dialog_active {
    transition: opacity .5s;
    opacity: 1;
    visibility: visible;
}

.dialog__header {
    position: relative;
    padding: 0 var(--gap-32);
}

.dialog__close-btn {
    position: absolute;
    top: var(--gap-neg-8);
    right: var(--gap-neg-8);
}

.dialog__content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.dialog__actions {
    display: flex;
}
