.file-field {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--colors-blue);
    font-size: var(--typography-h3-font-size);
}

.file-field__input {
    display: none;
}

.file-field__label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
