.dialog {
  background-color: var(--colors-white);
  border-radius: var(--gap-4);
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  opacity: 0;
  padding: var(--gap-16);
  visibility: hidden;

  &_active {
    opacity: 1;
    transition: opacity 0.5s;
    visibility: visible;
  }
}
