.context-menu-item {
    display: flex;
    align-items: center;
    margin: 0;
    padding: var(--gap-8);
    white-space: nowrap;

    &:hover {
        background-color: var(--colors-blue-3);
    }

    &__icon {
        font-size: var(--typography-h2-font-size);
        color: var(--colors-blue);
        margin-right: var(--gap-4);
    }

    &__text {
        color: var(--colors-black);
        font-size: var(--typography-h4-font-size);
    }

}
