.badge {
  align-items: center;
  border-radius: 50%;
  color: var(--colors-white);
  display: flex;
  font-size: var(--typography-description-font-size);
  height: 20px;
  justify-content: center;
  overflow: hidden;
  width: 20px;

  &_primary {
    background-color: var(--colors-blue);
  }

  &_secondary {
    background-color: var(--colors-blue-2);
  }

  &_error {
    background-color: var(--colors-red);
  }
}
