.avatar {
  align-items: center;
  background-color: var(--colors-blue);
  border-radius: 50%;
  display: inline-flex;
  flex-shrink: 0;
  font-size: var(--typography-h1-font-size);
  height: 50px;
  justify-content: center;
  width: 50px;

  &_clickable {
    cursor: pointer;

    &:hover {
      background-color: var(--colors-grey-2);

      &::after {
        color: var(--colors-white);
        content: 'Изменить';
        font-size: var(--typography-h4-font-size);
        margin: auto;
      }
    }
  }

  &_large {
    height: 130px;
    width: 130px;
  }

  &_medium {
    height: 64px;
    width: 64px;
  }

  &_small {
    font-size: var(--typography-h2-font-size);
    height: 40px;
    width: 40px;
  }
}
