html {
    height: 100%;
    min-height: 100%;
    font-family: var(--common-font-family);
}

body {
    height: 100%;
    margin: 0;
}

#app, .page, #app > * {
    height: 100%;
    width: 100%;
}

.content_column-4 > * {
    margin: var(--gap-4) 0;
}
.content_column-4 > *:first-child {
    margin-top: 0;
}
.content_column-4 > *:last-child {
    margin-bottom: 0;
}

.content_row-4 > * {
    margin: 0 var(--gap-4) ;
}
.content_row-4 > *:first-child {
    margin-left: 0;
}
.content_row-4 > *:last-child {
    margin-right: 0;
}


.content_column-16 > * {
    margin: var(--gap-16) 0;
}
.content_column-16 > *:first-child {
    margin-top: 0;
}
.content_column-16 > *:last-child {
    margin-bottom: 0;
}

.content_row-16 > * {
    margin: 0 var(--gap-16) ;
}
.content_row-16 > *:first-child {
    margin-left: 0;
}
.content_row-16 > *:last-child {
    margin-right: 0;
}

.divider {
    margin: 0;
    border: none;
    height: 1px;
    flex-shrink: 0;
    background-color: transparent;
    padding: 0 var(--gap-8);

    :before {
        content: '';
        display: flex;
        width: 100%;
        height: 100%;
        background-color: var(--colors-grey-3);
    }
}

.backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: var(--backdrop-z-index);
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: var(--colors-backdrop);
    visibility: hidden;
    opacity: 0;

    &_active {
        opacity: 1;
        transition: opacity .5s;
        visibility: visible;
    }
}
