html {
  font-family: var(--common-font-family);
  height: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

/* stylelint-disable selector-max-id */
#app,
.page,
#app > * {
  height: 100%;
  width: 100%;
}

.content-column-4 > * {
  margin: var(--gap-4) 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


.content-row-4 > * {
  margin: 0 var(--gap-4);

  &:first-child {
    margin-left: 0;

  }

  &:last-child {
    margin-right: 0;

  }
}


.content-column-16 > * {
  margin: var(--gap-16) 0;

  &:first-child {
    margin-top: 0;

  }

  &:last-child {
    margin-bottom: 0;

  }
}

.content-row-16 > * {
  margin: 0 var(--gap-16);

  &:first-child {
    margin-left: 0;

  }

  &:last-child {
    margin-right: 0;

  }
}

.divider {
  background-color: transparent;
  border: 0;
  flex-shrink: 0;
  height: 1px;
  margin: 0;
  padding: 0 var(--gap-8);

  ::before {
    background-color: var(--colors-grey-3);
    content: '';
    display: flex;
    height: 100%;
    width: 100%;
  }
}

.backdrop {
  align-items: center;
  background-color: var(--colors-backdrop);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: var(--backdrop-z-index);

  &_active {
    opacity: 1;
    transition: opacity 0.5s;
    visibility: visible;
  }
}
