:root {
  --common-font-family: 'Roboto', 'Roboto Light', sans-serif;
  --typography-error-code-font-size: 48px;
  --typography-h1-font-size: 24px;
  --typography-h2-font-size: 18px;
  --typography-h3-font-size: 14px;
  --typography-h4-font-size: 13px;
  --typography-h5-font-size: 12px;
  --typography-h6-font-size: 11px;
  --typography-description-font-size: 9px;

  --colors-black: #333;
  --colors-grey: #4f4f4f;
  --colors-grey-2: #828282;
  --colors-grey-3: #bdbdbd;
  --colors-grey-4: rgba(224, 224, 224, 0.3);
  --colors-white: #fff;
  --colors-blue: #2f80ed;
  --colors-blue-2: #2d9cdb;
  --colors-blue-3: rgba(47, 128, 237, 0.3);
  --colors-blue-4: #6888c5;
  --colors-red: #eb5757;
  --colors-backdrop: rgba(109, 109, 109, 0.35);

  --gap-4: 4px;
  --gap-8: 8px;
  --gap-12: 12px;
  --gap-16: 16px;
  --gap-20: 20px;
  --gap-24: 24px;
  --gap-32: 32px;
  --gap-48: 48px;
  --gap-64: 64px;

  --gap-neg-4: -4px;
  --gap-neg-8: -8px;
  --gap-neg-12: -12px;
  --gap-neg-16: -16px;
  --gap-neg-20: -20px;
  --gap-neg-24: -24px;
  --gap-neg-32: -32px;
  --gap-neg-48: -48px;
  --gap-neg-64: -64px;

  --card-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

  --chats-list-width: 300px;

  --backdrop-z-index: 100;
}
