.sign-up-page {
  align-items: center;
  display: flex;
  justify-content: center;

  &__form {
    background-color: var(--colors-white);
    border-radius: var(--gap-4);
    box-shadow: var(--card-box-shadow);
    min-width: 320px;
    padding: var(--gap-16);

    & > * {
      margin: var(--gap-24) 0;
    }

    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }
}

