.icon-button {
  align-items: center;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  color: var(--colors-black);
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  margin: 0;
  outline: 0;
  width: 32px;

  &_primary {
    background-color: var(--colors-blue);
    color: var(--colors-white);
  }

  &_secondary {
    background-color: var(--colors-blue-2);
    color: var(--colors-white);
  }

  &_disabled {
    background-color: var(--colors-grey-2);
    color: var(--colors-white);
  }
}
