.chat-new-message {
  display: flex;
  padding: var(--gap-4) var(--gap-8) var(--gap-8);

  &__send-button {
    position: relative;
  }

  &__send-menu {
    position: absolute;
    top: 0;
    transform: translate(50%, -100%);
    visibility: hidden;
  }

  &__send-field {
    flex: 1;
  }

  &__send-button:focus &__send-menu {
    visibility: visible;
  }
}
