.chat-header {
  align-items: center;
  display: flex;
  padding: var(--gap-8) var(--gap-8) var(--gap-4);

  &__chat-name {
    flex: 1;
  }

  &__menu-button {
    position: relative;
  }

  &__chat-menu {
    position: absolute;
    transform: translate(-50%, 50%);
    visibility: hidden;
  }

  &__menu-button {
    &:focus .chat-header__chat-menu {
      visibility: visible;
    }
  }
}
