.chat-message {
    display: flex;

    &_self {
        justify-content: flex-end;
    }

    &__content {
        max-width: 70%;
        padding: var(--gap-8);
        border-radius: 0 var(--gap-4) var(--gap-4) var(--gap-4);
        display: flex;
        flex-direction: column;
        width: fit-content;
        background-color: var(--colors-grey-4);
    }

    &_self &__content {
        border-radius: var(--gap-4) var(--gap-4) 0 var(--gap-4);
        background-color: var(--colors-blue-3);
    }

    &__text {
        color: var(--colors-black);
        font-size: var(--typography-h5-font-size);
        margin: 0;
    }

    &__img {
        width: 100%;
        border-radius: var(--gap-4);
    }
    &__badges {
        display: flex;
        justify-content: flex-end;
        margin-top: var(--gap-4);
    }
}
