.file-field {
  align-items: center;
  color: var(--colors-blue);
  display: flex;
  font-size: var(--typography-h3-font-size);
  justify-content: center;

  &__input {
    display: none;
  }

  &__label {
    align-items: center;
    cursor: pointer;
    display: flex;
  }
}
