.profile-page__main {
    display: flex;
    flex-direction: column;
    padding: var(--gap-64) var(--gap-16);
}

.profile-page__main > * {
    margin: var(--gap-64) 0;
}

.profile-page__main > *:first-child {
    margin-top: 0;
}

.profile-page__main > *:last-child {
    margin-bottom: 0;
}

.profile-page__avatar {
    display: flex;
    justify-content: center;
}

.profile-page__fields {
    display: flex;
    flex-direction: column;
}

.profile-page__actions {
    display: flex;
    flex-direction: column;
}
