.profile-page {
  &__main {
    display: flex;
    flex-direction: column;
    padding: var(--gap-64) var(--gap-16);

    & > * {
      margin: var(--gap-64) 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__avatar {
    display: flex;
    justify-content: center;
  }

  &__fields {
    display: flex;
    flex-direction: column;
  }

  &__actions {
    display: flex;
    flex-direction: column;
  }
}
