.error-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__code {
    color: var(--colors-black);
    font-size: var(--typography-error-code-font-size);
    font-weight: bold;
  }

  &__link {
    font-size: var(--typography-h2-font-size);
  }
}
