.error-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__code {
        font-size: var(--typography-error-code-font-size);
        color: var(--colors-black);
        font-weight: bold;
    }

    &__link {
        font-size: var(--typography-h2-font-size);
    }
}
